### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

# Bundler cache
.bundle
vendor
docs/Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# Misc
docs/assets/js/dist

# User specific stuff
*.DS_Store
